<div class="flex flex-column gap-md height-100vh justify-center items-center padding-x-xl">
    <form class="grid gap-md" [formGroup]="addForm" (ngSubmit)="handleSubmit()">
      <div class="width-100% flex flex-column gap-xxxs">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" />
        <div *ngIf="addForm.get('nombre')?.touched && addForm.get('nombre')?.invalid">
            <small *ngIf="addForm.get('nombre')?.errors?.['required']">El nombre es requerido.</small>
            <small *ngIf="addForm.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 2 caracteres.</small>
            <small *ngIf="addForm.get('nombre')?.errors?.['maxlength']">El nombre no debe superar los 50 caracteres.</small>
          </div>
      </div>
<div class="width-100% flex flex-column gap-xxxs">
  <label for="precio">precio</label>
  <input type="text" formControlName="precio" />
  <div *ngIf="addForm.get('precio')?.touched && addForm.get('precio')?.invalid">
      <small *ngIf="addForm.get('precio')?.errors?.['required']">El precio es requerido.</small>
      <small *ngIf="addForm.get('precio')?.errors?.['pattern']">El precio solo acepta números.</small>
    </div>
</div>
<div class="width-100% flex flex-column gap-xxxs">
  <label for="stock">stock</label>
  <input type="text" formControlName="stock" />
  <div *ngIf="addForm.get('stock')?.touched && addForm.get('stock')?.invalid">
      <small *ngIf="addForm.get('stock')?.errors?.['required']">El stock es requerido.</small>
      <small *ngIf="addForm.get('stock')?.errors?.['pattern']">El stock solo acepta números.</small>
    </div>
</div>
<div class="width-100% flex flex-column gap-xxxs">
  <label for="stock">Descripción</label>
  <input type="text" formControlName="description" />
</div>
<div class="width-100% flex flex-column gap-xxxs">
  <label for="stock">Link imagen</label>
  <input type="text" formControlName="image" />
</div>
    <button class="btn" type="submit"  [disabled]="addForm.invalid">Submit</button>
  </form>
</div>